  
@include desktop {
    .dashboard{
        height: 100vh;
        display: flex;
        flex-flow: row;
    }
    .sideBar{
        width: 5%;
        height: 100%;
        background-color: #cd361f;
        .brand {
          padding: 10%;
          width: 100%;
          background-color: #c97c70;
          margin-bottom: 100px;
          img{
            width: 100%;
            height: auto;
          }
        }
        .sideLinks{
          display: flex;
          flex-flow: column;
          .link{
            padding: 10%;
            width: 100%;
            color: white;
            text-align: center;
            margin: 10px 0;
            cursor: pointer;
            i{
              font-size: 2.5rem;
              height: auto;
            }
          }
        }
    }
    .sideContainer{
        width: 70%;
        height: 100%;
        float: right;
        background: $primary-color;
        .beersContainer{
            display: flex;
            flex-flow: row;
            flex-wrap: wrap;
            margin-top: 80px;
            .beer{
                position: relative;
                display: flex;
                flex-flow: row;
                // justify-content: space-around;
                align-items: center;
                background-color: white;
                margin: 20px;
                width: 400px;
                height: 180px;
                box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.15);
                border-radius: 10px;
                .beerPhoto{
                    margin: 20px;
                    background-color: #ccc;
                    box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.1);
                    width: 30%;
                    height: 80%;
                    border-radius: 5%;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
                .beerSide{
                    margin: 10px;
                    height: 80%;
                    display: flex;
                    flex-flow: column;
                    justify-content: space-between;
                    .beerTitle{
                        h1{
                            font-size: 2rem;
                        }
                    }
                }
                .fa-ellipsis-v{
                  cursor: pointer;
                  position: absolute;
                  right: 10px;
                  bottom: 10px;
                  font-size: 24px;
                }
            }
        }
    }
    .sideInfo{
        width: 25%;
        background: $bg-color-dark;
        // position: fixed;
        padding:4% 2% 0 2%;
        height: 100vh;
        box-shadow: 0 10px 10px 0px rgba(0,0,0,0.5);

        form {
            display: block;
            margin: auto;
            width: 100%;
            margin-bottom: 30px;
            background: lighten($bg-color-dark,5%);
            box-shadow: 0 0 10px 1px rgba(0,0,0,0.3);
            padding: 20px;
            @include border-radius;

            .rating{
                border: none;
            }

            label {
                color:white
            }
        }

        .userInfo{
            color: $link-color;
            width: 100%;
            text-align: center;
            background: white;
            border-radius: 200px;
            width: 10vh;
            height: 10vh;
            overflow: hidden;
            margin: 30px auto;
            text-align: center;
            box-shadow: 0 0 10px 1px rgba(0,0,0,0.3);
            .userName {
                font-weight: bold;
                font-size: 8vh;
            }
        }
        .addBeer{
            display: flex;
            flex-flow: column;
            .form-group{
                margin-top: 10px;
                margin-bottom: 20px;
            
                label{
                    display: block;
                    color:  #6c757d;
                }
            
                ::placeholder{
                    color: #6c757d;
                }
            
                input.form-control{
                    margin-top:10px;
                    display: block;
                    width: 100%;
                    padding: 10px ;
                    border: 1px solid #ced4da;
                    border-radius: 4px;
                    @include transition;
            
                    &:focus{
                        box-shadow: 0 0 0px 3px #bfdeff;
                        border:1px solid #80bdff;
                    }
                }
            }
            
        }
    }

.star-rating { 
  margin: 50px auto;
  
  > fieldset {
    border: none;
    display: inline-block;
    
    &:not(:checked) {
      > input {
        position: absolute;
        top: -9999px;
        clip: rect(0,0,0,0);
      }

      > label {
        float: right;
        width: 1em;
        padding: 0 .05em;
        overflow: hidden;
        white-space: nowrap;
        cursor: pointer;
        font-size: 200%;
        color: #16a085;
        
        &:before {
          content: '\f006  ';
        }
        
        &:hover,
        &:hover ~ label {
          color: #1abc9c;
          text-shadow: 0 0 3px #1abc9c;
          &:before {
            content: '\f005  ';
          }
        }
      }
    }
    
    > input:checked {
      & ~ label {
        &:before {
          content: '\f005  ';
        }
      }    
    }    

    > label:active {
      position: relative;
      top: 2px;
    }
  }
}
.backdrop{
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  background-color: rgba(0,0,0,0.5);
}
.editModal {
  position: fixed;
  z-index: 500;
  width: 60%;
  height: 70%;
  background-color: white;
  box-shadow: 1px 1px 1px rgba(0, 0, 0,0.5);
  padding: 16px;
  /* padding: 30px; */
  left: 20%;
  top: 15%;
  box-sizing: border-box;
  transition: all 0.3s ease-out;
  font-size: 1rem;
  .modalBody{
    display: flex;
    flex-flow: row;
    .modalPhoto{
      width: 40%;
      height: 100%;
      box-shadow: 0px 0px 10px 1px rgba(0, 0, 0,0.15);
      margin-right: 30px;
      margin-top: 10px;
      img{
        width: 100%;
      }
    }
    .modalInfo{
      width: 60%;
      height: 100%;
      .form-group-modal {
        margin-top: 10px;
        label {
          display: block;
          color: #212529;
        }
      
        ::placeholder {
          color: #6c757d;
        }
      
        input.form-control {
          margin-top: 10px;
          display: block;
          width: 100%;
          padding: 10px;
          border: 1px solid #ced4da;
          border-radius: 4px;
          @include transition;
      
          &:focus {
            box-shadow: 0 0 0px 3px #bfdeff;
            border: 1px solid #80bdff;
          }
        }
      }
      .modalButtons{
        display: flex;
        flex-flow: row;
        justify-content: space-around;
      }
    }
  }
}

}
  