  
@include desktop {
    .dashboard{
        height: auto;
    }
    .sideContainer{
        width: 75%;
        float: right;
        background: $primary-color;
        .beersContainer{
            display: flex;
            flex-flow: row;
            flex-wrap: wrap;
            margin-top: 80px;
            .beer{
                background-color: white;
                margin: 10% 5%;
                width: 220px;
                height: 180px;
                text-align: center;
                position: relative;
                box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.15);
                border-radius: 5%;
                .beerPhoto{
                    background-color: #ccc;
                    box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.1);
                    position: absolute;
                    width: 70%;
                    left: 15%;
                    height: 200px;
                    top:-150px;
                    border-radius: 5%;
                }
                .beerInfo{
                    margin-top: 60px;
                }
            }
        }
    }
    .sideInfo{
        width: 25%;
        background: $bg-color-dark;
        position: fixed;
        padding:4% 2% 0 2%;
        height: 100vh;
        box-shadow: 0 10px 10px 0px rgba(0,0,0,0.5);

        form {
            display: block;
            margin: auto;
            width: 100%;
            margin-bottom: 30px;
            background: lighten($bg-color-dark,5%);
            box-shadow: 0 0 10px 4px rgba(0,0,0,0.3);
            padding: 20px;
            @include border-radius;

            label {
                color:white
            }
        }

        .userInfo{
            color: $link-color;
            width: 100%;
            text-align: center;
            background: white;
            border-radius: 200px;
            width: 10vh;
            height: 10vh;
            overflow: hidden;
            margin: 30px auto;
            text-align: center;
            box-shadow: 0 0 10px 10px rgba(0,0,0,0.3);
            .userName {
                font-weight: bold;
                font-size: 8vh;
            }
        }
        .addBeer{
            display: flex;
            flex-flow: column;
            .form-group{
                margin-top: 10px;
                margin-bottom: 20px;
            
                label{
                    display: block;
                    color: #212529;
                }
            
                ::placeholder{
                    color: #6c757d;
                }
            
                input.form-control{
                    margin-top:10px;
                    display: block;
                    width: 100%;
                    padding: 10px ;
                    border: 1px solid #ced4da;
                    border-radius: 4px;
                    @include transition;
            
                    &:focus{
                        box-shadow: 0 0 0px 3px #bfdeff;
                        border:1px solid #80bdff;
                    }
                }
            }
            
        }
    }
}
  