@include mobile {
  .navLandingDesktop {
    display: none;
  }
  .navLandingMobile {
    display: block;
    position: fixed;
    z-index: 100;
    background: $bg-color-dark;
    padding: 15px;
    width: 100%;
    top: 0;
    text-align: center;
    @include box-shadow;
    @include transition;

    #{&}__mainTitle {
      position: relative;

      i {
        color: $link-color;
        font-size: 3vh;
        left: 5%;
        position: absolute;
        transform: translateY(5px);
      }
      .brandMainTitleMobile {
        text-decoration: none;
        font-size: 4vh;
        font-weight: bold;
      }
    }

    #{&}__side {
      position: fixed;
      z-index: 300;
      width: 60%;
      top: 0;
      left: -100%;
      height: 100vh;
      background: $font-color-dark;
      box-shadow: 0 5px 10px -10px rgba(0, 0, 0, 0.3);
      padding: 20px 0px;
      text-align: left;
      @include transition;

      a.brand {
        box-shadow: 0 8px 10px -10px rgba(0, 0, 0, 0.5);
        display: block;
        padding-bottom: 1px;
        margin: -20px auto 10px auto;
        color: $link-color;
        text-align: center;

        position: relative;
        img {
          // position: absolute;
          // top: -140%;
          background: $bg-color;
          height: 80px;
          width: 80px;
          padding: 5px;
          border-radius: 200px;
          box-shadow: 0 0 15px 0 rgba($link-color, 0.4);
        }
      }
    }

    a {
      text-decoration: none;
      font-weight: bold;
    }

    .pill {
      text-align: center;
    }

    li {
      list-style: none;
      display: block;
      margin: 30px 20px;
    }
  }

  .headerLanding {
    min-height: 100vh;
    width: 100%;
    padding-top: 30%;
    padding-bottom: 10%;
    background: $bg-color-dark;
    overflow: hidden;

    #{&}__right {
      padding: 0 10%;
      .title {
        font-size: 8vh;
      }
    }

    #{&}__left {
      &-beerContainer {
        height: 70vh;
        width: 100%;
        position: relative;
        z-index: 1;

        #landingCardInfo{
          opacity: 0;
          position: absolute;
          background: $bg-color;
          padding: 10px;
          right: 5%;
          top: 40%;
          height: auto;
          max-height: 30vh;
          width: auto;
          max-width: 50%;
          text-align: left;
          font-weight: bold;
          overflow: auto;
          box-shadow: 0 5px 10px 3px rgba(0,0,0,0.8);
          @include border-radius;
          @include transition;

          .beerName {
            text-align: center;
            font-size: 1.2rem;
          }

          .col-sm-6{
            padding: 0 10px;
          }

          .beerData {
            margin: 10px auto;
          }
        }


        .hitMe {
          border-radius: 500px;
          height: 70px;
          width: 70px;
          overflow: hidden;
          position: absolute;
          top: 10%;
          right: 10%;
          background: $link-color;
          color: $font-color;
          font-weight: bold;
          border:5px solid $bg-color-dark;
          box-shadow: 0 0 20px 0 rgba($link-color,0.3);
          transform: rotate(340deg);
          animation: changeColorAndBounce 5s infinite;
          animation-direction: alternate;
          cursor: pointer;
          @include transition;

          &:hover{
            transform: scale(1.3) ;
          }
        }

        @keyframes changeColorAndBounce {
          0%{
            box-shadow: 0 0 20px 0 rgba(#0984e3,0.8);
          }
          25%{
            box-shadow: 0 0 20px 0 rgba(#fd79a8,0.8);
          }
          50%{
            box-shadow: 0 0 20px 0 rgba(#6c5ce7,0.8);
          }
          75%{
            box-shadow: 0 0 20px 0 rgba(#00cec9,0.8);
          }
          100%{
            box-shadow: 0 0 20px 0 rgba($link-color,0.8);
          }

        }

        img {
          display: block;
          margin: auto;
          width: auto;
          height: 60vh;
          @include transition;
        }

        .shadowOfCurrentImage {
          position: absolute;
          height: 40px;
          width: 100%;
          overflow: hidden;
          transform: translateY(-10px);
          z-index: -1;

          img {
            transform: translateY(-10px) rotate(180deg);
            mask-image: linear-gradient(
              to top,
              rgba(0, 0, 0, 0.8) 0%,
              rgba(0, 0, 0, 0) 9%
            );
          }
        }
      }
    }
  }

  .mainLanding {
    text-align: center;
    background: $primary-color;
    min-height: 100vh;
    padding-top: 10%;
    padding-bottom: 10%;

    .title {
      color: $secondary-color;
      font-size: 10vh;
      text-shadow: 3px 3px 0 rgba($secondary-color, 0.5);
    }

    #howItWorks {
      .card {
        background: $bg-color;
      }
      img {
        height: 200px;
        width: 200px;
        border-radius: 50%;
        display: block;
        margin: 0px auto 20px auto;
      }
    }
  }

  .footerLanding {
    background: $bg-color-dark;
    color: white;
    padding: 5%;

    div.col-12 {
      padding: 30px;
    }

    .social {
      justify-content: center;
      display: flex;
      i {
        font-size: 4vh;
        margin-right: 30px;
      }
    }
  }
}

@include desktop {
  .navLandingMobile {
    display: none;
  }
  .navLandingDesktop {
    display: flex;
    align-content: center;
    position: fixed;
    z-index: 100;
    background: $bg-color-dark;
    padding: 25px;
    width: 100%;
    top: 0;
    font-weight: bold;
    @include box-shadow;

    a {
      margin: 0 20px;
    }

    .brand {
      position: relative;
      img {
        position: absolute;
        top: -140%;
        background: $bg-color;
        height: 60px;
        width: 60px;
        padding: 5px;
        border-radius: 200px;
        box-shadow: 0 0 15px 0 rgba($link-color, 0.4);
      }
      span {
        font-size: 4vh;
        position: absolute;
        top: -40%;
        transform: translateX(40%);
        width: 200px;
      }
    }

    li {
      list-style: none;
      display: inline-block;
    }

    .ghostLi {
      display: inline-block;
      width: 60%;
    }
  }

  .headerLanding {
    min-height: 100vh;
    width: 100%;
    padding-top: 10%;
    padding-bottom: 0%;
    background: $bg-color-dark;
    overflow: hidden;

    #{&}__right {
      padding: 0 10%;
      .title {
        font-size: 13vh;
      }
    }

    #{&}__left {
      &-beerContainer {
        height: 70vh;
        width: 100%;
        position: relative;
        z-index: 1;

        #landingCardInfo{
          padding: 10px 20px;
          right: 10%;
          top: 40%;

          .col-sm-6{
            padding: 0 3px;
          }
        }

        img {
          display: block;
          margin: auto;
          width: auto;
          height: 62vh;
          // transform: translateY(-10%);
        }

        .shadowOfCurrentImage {
          position: absolute;
          height: 5.5vh;
          width: 100%;
          overflow: hidden;
          transform: translateY(-20%);
          z-index: -1;

          img {
            transform: rotate(180deg);
            mask-image: linear-gradient(
              to top,
              rgba(0, 0, 0, 0.8) 0%,
              rgba(0, 0, 0, 0) 9%
            );
          }
        }
      }
    }
  }

  .mainLanding {
    text-align: center;
    background: $primary-color;
    min-height: 100vh;
    padding-top: 10%;
    padding-bottom: 10%;

    .title {
      color: $secondary-color;
      font-size: 10vh;
      text-shadow: 3px 3px 0 rgba($secondary-color, 0.5);
    }

    #howItWorks {
      img {
        height: 200px;
        width: 200px;
        border-radius: 50%;
        display: block;
        margin: 20px auto;
      }
    }
  }
}
