@include mobile {
    .login__right{
        background: $bg-color-dark;
        color: white;
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        flex-flow: column wrap;
        padding: 12% 10%;
        
        .phrase{
            font-size: 5vh;
            font-weight: bold;
            text-shadow: 4px 4px 0  $font-color-dark;
        }

        .social{
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            margin-top: 20%;

            i{
                font-size: 3vh;
                margin: 10px;
            }
        }
    }
}

@include desktop{
    .login__right{
        color: $font-color;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column wrap;
        padding: 0% 10%;
        
        .phrase{
            font-size: 10vh;
            font-weight: bold;
            text-shadow: 4px 4px 0  $font-color-dark;
        }

        .social{
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            margin-top: 30%;
            color: $link-color;

            i{
                font-size: 3vh;
                margin: 10px;
            }
        }
    }
}