@mixin desktop {
    @media (min-width: $desktop){
        @content;
    }
}

@mixin mobile {
    @media (min-width: $mobile){
        @content;
    }
}

@mixin border-radius {
    border-radius: $border-radius;
}

@mixin box-shadow {
    box-shadow: 0 10px 10px -10px rgba(0,0,0,0.3);
}
@mixin transition {
    transition: all 0.4s ease;
}