.title {
  color: $primary-header-color;
  font-size: 5vh;
  font-weight: bold;
  margin-bottom: $margin;
  line-height: 90%;

  &-big {
    font-size: 8vh;
    margin-bottom: $margin-big;
  }
}

.subtitle {
  color: $primary-header-color;
  font-size: 3.5vh;
  font-weight: bold;
  margin-bottom: $margin-big;
  line-height: 95%;

  &-big {
    font-size: 5vh;
  }
}

.text {
  margin-top: $margin-small;
  margin-bottom: $margin-small;

  &-normal {
    font-size: 1rem;
  }

  &-medium {
    font-size: 1.2rem;
  }

  &-big {
    font-size: 1.3rem;
    margin-top: $margin;
    margin-bottom: $margin;
  }
}
