/*
    Extrict Order
        1. Resets
        2. Mixins
        3. Varibales
        4. Up to you 
*/
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

input,
select,
button {
  background: white;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #ccc;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #ccc;
}

input::-ms-input-placeholder, textarea::-ms-input-placeholder {
  color: #ccc;
}

input::placeholder, textarea::placeholder {
  color: #ccc;
}

.unselectable {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

/*
    COLORS
*/
/*
    MARGIN
*/
/*
    FONT WEIGHT
*/
/*
    BORDER RADIUS
*/
/*
    FONT SIZE
*/
/*
    RESPONSIVE
*/
/*
    FONT CHANGE
*/
.rounded {
  border-radius: 3px;
}

.shadow {
  -webkit-box-shadow: 0 7px 10px -3px rgba(0, 0, 0, 0.3);
          box-shadow: 0 7px 10px -3px rgba(0, 0, 0, 0.3);
}

/*
    PILLS
*/
.pill {
  padding: 10px 20px;
  color: white;
  background: #FF5B36;
  border-radius: 20px;
  font-weight: 550;
}

/*
    BUTTONS
*/
.btn {
  border: 0;
  padding: 1.5vh 3vh;
  cursor: pointer;
  margin-bottom: 10px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.btn-primary {
  color: white;
  background: #FF5B36;
}

.btn-shadow-hover:hover {
  -webkit-box-shadow: 0 7px 10px -3px rgba(255, 91, 54, 0.4);
          box-shadow: 0 7px 10px -3px rgba(255, 91, 54, 0.4);
}

.btn-rounded {
  border-radius: 30px;
}

.btn-block {
  display: block;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
}

.btn-big {
  padding: 1.7vh 6vh;
  font-size: 1.2rem;
  margin-top: 40px;
  margin-bottom: 40px;
}

.btn:hover {
  opacity: 0.9;
}

/*
    FORMS
*/
.form-group {
  margin-top: 10px;
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  color: #212529;
}

.form-group ::-webkit-input-placeholder {
  color: #6c757d;
}

.form-group :-ms-input-placeholder {
  color: #6c757d;
}

.form-group ::-ms-input-placeholder {
  color: #6c757d;
}

.form-group ::placeholder {
  color: #6c757d;
}

.form-group input.form-control {
  margin-top: 10px;
  display: block;
  width: 100%;
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.form-group input.form-control:focus {
  -webkit-box-shadow: 0 0 0px 3px #bfdeff;
          box-shadow: 0 0 0px 3px #bfdeff;
  border: 1px solid #80bdff;
}

form.pretty .form-group {
  margin-top: 10px;
  margin-bottom: 20px;
}

form.pretty .form-group label {
  color: #cdd6e2;
  font-size: 1rem;
}

form.pretty .form-group ::-webkit-input-placeholder {
  color: #cdd6e2;
}

form.pretty .form-group :-ms-input-placeholder {
  color: #cdd6e2;
}

form.pretty .form-group ::-ms-input-placeholder {
  color: #cdd6e2;
}

form.pretty .form-group ::placeholder {
  color: #cdd6e2;
}

form.pretty .form-group input.form-control {
  margin-top: 10px;
  display: block;
  width: 100%;
  padding: 13px;
  border: 2px solid #cfd8e1;
  border-radius: 4px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

form.pretty .form-group input.form-control:focus {
  -webkit-box-shadow: 0 0 0px 3px #bfdeff;
          box-shadow: 0 0 0px 3px #bfdeff;
  border: 2px solid #80bdff;
}

form.pretty button {
  padding: 13px;
}

/*
    BACKGROUND
*/
.b-white {
  background: white;
}

.b-black {
  background: #fcf5de;
}

/*
    MARGINS
*/
.m-auto {
  margin: auto;
}

.m-1 {
  margin: 10%;
}

.m-2 {
  margin: 20%;
}

.m-3 {
  margin: 30%;
}

.m-4 {
  margin: 40%;
}

.m-5 {
  margin: 50%;
}

.m-6 {
  margin: 60%;
}

.m-7 {
  margin: 70%;
}

.m-8 {
  margin: 80%;
}

.m-9 {
  margin: 90%;
}

.ml-auto {
  margin-left: auto;
}

.ml-1 {
  margin-left: 10%;
}

.ml-2 {
  margin-left: 20%;
}

.ml-3 {
  margin-left: 30%;
}

.ml-4 {
  margin-left: 40%;
}

.ml-5 {
  margin-left: 50%;
}

.ml-6 {
  margin-left: 60%;
}

.ml-7 {
  margin-left: 70%;
}

.ml-8 {
  margin-left: 80%;
}

.ml-9 {
  margin-left: 90%;
}

.mr-auto {
  margin-right: auto;
}

.mr-1 {
  margin-right: 10%;
}

.mr-2 {
  margin-right: 20%;
}

.mr-3 {
  margin-right: 30%;
}

.mr-4 {
  margin-right: 40%;
}

.mr-5 {
  margin-right: 50%;
}

.mr-6 {
  margin-right: 60%;
}

.mr-7 {
  margin-right: 70%;
}

.mr-8 {
  margin-right: 80%;
}

.mr-9 {
  margin-right: 90%;
}

.mt-auto {
  margin-top: auto;
}

.mt-1 {
  margin-top: 10%;
}

.mt-2 {
  margin-top: 20%;
}

.mt-3 {
  margin-top: 30%;
}

.mt-4 {
  margin-top: 40%;
}

.mt-5 {
  margin-top: 50%;
}

.mt-6 {
  margin-top: 60%;
}

.mt-7 {
  margin-top: 70%;
}

.mt-8 {
  margin-top: 80%;
}

.mt-9 {
  margin-top: 90%;
}

.mb-auto {
  margin-bottom: auto;
}

.mb-1 {
  margin-bottom: 10%;
}

.mb-2 {
  margin-bottom: 20%;
}

.mb-3 {
  margin-bottom: 30%;
}

.mb-4 {
  margin-bottom: 40%;
}

.mb-5 {
  margin-bottom: 50%;
}

.mb-6 {
  margin-bottom: 60%;
}

.mb-7 {
  margin-bottom: 70%;
}

.mb-8 {
  margin-bottom: 80%;
}

.mb-9 {
  margin-bottom: 90%;
}

.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.my-1 {
  margin-top: 10%;
  margin-bottom: 10%;
}

.my-2 {
  margin-top: 20%;
  margin-bottom: 20%;
}

.my-3 {
  margin-top: 30%;
  margin-bottom: 30%;
}

.my-4 {
  margin-top: 40%;
  margin-bottom: 40%;
}

.my-5 {
  margin-top: 50%;
  margin-bottom: 50%;
}

.my-6 {
  margin-top: 60%;
  margin-bottom: 60%;
}

.my-7 {
  margin-top: 70%;
  margin-bottom: 70%;
}

.my-8 {
  margin-top: 80%;
  margin-bottom: 80%;
}

.my-9 {
  margin-top: 90%;
  margin-bottom: 90%;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.mx-1 {
  margin-left: 10%;
  margin-right: 10%;
}

.mx-2 {
  margin-left: 20%;
  margin-right: 20%;
}

.mx-3 {
  margin-left: 30%;
  margin-right: 30%;
}

.mx-4 {
  margin-left: 40%;
  margin-right: 40%;
}

.mx-5 {
  margin-left: 50%;
  margin-right: 50%;
}

.mx-6 {
  margin-left: 60%;
  margin-right: 60%;
}

.mx-7 {
  margin-left: 70%;
  margin-right: 70%;
}

.mx-8 {
  margin-left: 80%;
  margin-right: 80%;
}

.mx-9 {
  margin-left: 90%;
  margin-right: 90%;
}

/*
    PADDING
*/
.p-auto {
  padding: auto;
}

.p-1 {
  padding: 1rem;
}

.p-2 {
  padding: 2rem;
}

.p-3 {
  padding: 3rem;
}

.p-4 {
  padding: 4rem;
}

.p-5 {
  padding: 5rem;
}

.p-6 {
  padding: 6rem;
}

.p-7 {
  padding: 7rem;
}

.p-8 {
  padding: 8rem;
}

.p-9 {
  padding: 9rem;
}

.pl-auto {
  padding-left: auto;
}

.pl-1 {
  padding-left: 1rem;
}

.pl-2 {
  padding-left: 2rem;
}

.pl-3 {
  padding-left: 3rem;
}

.pl-4 {
  padding-left: 4rem;
}

.pl-5 {
  padding-left: 5rem;
}

.pl-6 {
  padding-left: 6rem;
}

.pl-7 {
  padding-left: 7rem;
}

.pl-8 {
  padding-left: 8rem;
}

.pl-9 {
  padding-left: 9rem;
}

.pr-auto {
  padding-right: auto;
}

.pr-1 {
  padding-right: 1rem;
}

.pr-2 {
  padding-right: 2rem;
}

.pr-3 {
  padding-right: 3rem;
}

.pr-4 {
  padding-right: 4rem;
}

.pr-5 {
  padding-right: 5rem;
}

.pr-6 {
  padding-right: 6rem;
}

.pr-7 {
  padding-right: 7rem;
}

.pr-8 {
  padding-right: 8rem;
}

.pr-9 {
  padding-right: 9rem;
}

.pt-auto {
  padding-top: auto;
}

.pt-1 {
  padding-top: 1rem;
}

.pt-2 {
  padding-top: 2rem;
}

.pt-3 {
  padding-top: 3rem;
}

.pt-4 {
  padding-top: 4rem;
}

.pt-5 {
  padding-top: 5rem;
}

.pt-6 {
  padding-top: 6rem;
}

.pt-7 {
  padding-top: 7rem;
}

.pt-8 {
  padding-top: 8rem;
}

.pt-9 {
  padding-top: 9rem;
}

.pb-auto {
  padding-bottom: auto;
}

.pb-1 {
  padding-bottom: 1rem;
}

.pb-2 {
  padding-bottom: 2rem;
}

.pb-3 {
  padding-bottom: 3rem;
}

.pb-4 {
  padding-bottom: 4rem;
}

.pb-5 {
  padding-bottom: 5rem;
}

.pb-6 {
  padding-bottom: 6rem;
}

.pb-7 {
  padding-bottom: 7rem;
}

.pb-8 {
  padding-bottom: 8rem;
}

.pb-9 {
  padding-bottom: 9rem;
}

.py-auto {
  padding-top: auto;
  padding-bottom: auto;
}

.py-1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.py-2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.py-3 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.py-4 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.py-5 {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.py-6 {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.py-7 {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.py-8 {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.py-9 {
  padding-top: 9rem;
  padding-bottom: 9rem;
}

.px-auto {
  padding-left: auto;
  padding-right: auto;
}

.px-1 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.px-2 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.px-3 {
  padding-left: 3rem;
  padding-right: 3rem;
}

.px-4 {
  padding-left: 4rem;
  padding-right: 4rem;
}

.px-5 {
  padding-left: 5rem;
  padding-right: 5rem;
}

.px-6 {
  padding-left: 6rem;
  padding-right: 6rem;
}

.px-7 {
  padding-left: 7rem;
  padding-right: 7rem;
}

.px-8 {
  padding-left: 8rem;
  padding-right: 8rem;
}

.px-9 {
  padding-left: 9rem;
  padding-right: 9rem;
}

/*
    FLOAT
*/
.floatRight {
  float: right;
}

.floatLeft {
  float: left;
}

/*
    TEXT ALIGN
*/
.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

/*
    ROW & COLS
*/
@media (min-width: 320px) {
  .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    width: 100%;
  }
  .row .col {
    max-width: auto;
    width: auto;
  }
  .row .col-1 {
    width: 100/12%;
  }
  .row .col-2 {
    width: 16.66667%;
  }
  .row .col-3 {
    width: 25%;
  }
  .row .col-4 {
    width: 33.33333%;
  }
  .row .col-5 {
    width: 41.66667%;
  }
  .row .col-6 {
    width: 50%;
  }
  .row .col-7 {
    width: 58.33333%;
  }
  .row .col-8 {
    width: 66.66667%;
  }
  .row .col-9 {
    width: 75%;
  }
  .row .col-10 {
    width: 83.33333%;
  }
  .row .col-11 {
    width: 91.66667%;
  }
  .row .col-12 {
    width: 100%;
  }
  .row .col-sm-1 {
    width: calc(100%/12%);
  }
  .row .col-sm-2 {
    width: 16.66667%;
  }
  .row .col-sm-3 {
    width: 25%;
  }
  .row .col-sm-4 {
    width: 33.33333%;
  }
  .row .col-sm-5 {
    width: 41.66667%;
  }
  .row .col-sm-6 {
    width: 50%;
  }
  .row .col-sm-7 {
    width: 58.33333%;
  }
  .row .col-sm-8 {
    width: 66.66667%;
  }
  .row .col-sm-9 {
    width: 75%;
  }
  .row .col-sm-10 {
    width: 83.33333%;
  }
  .row .col-sm-11 {
    width: 91.66667%;
  }
  .row .col-sm-12 {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .row .col-md-1 {
    max-width: calc(100%/12%);
    width: calc(100%/12%);
  }
  .row .col-md-2 {
    width: 16.66667%;
    max-width: 16.66667%;
  }
  .row .col-md-3 {
    width: 25%;
  }
  .row .col-md-4 {
    width: 33.33333%;
    max-width: 33.33333%;
    overflow: hidden;
  }
  .row .col-md-5 {
    width: 41.66667%;
  }
  .row .col-md-6 {
    width: 50%;
  }
  .row .col-md-7 {
    width: 58.33333%;
  }
  .row .col-md-8 {
    width: 66.66667%;
    max-width: 66.66667%;
  }
  .row .col-md-9 {
    width: 75%;
  }
  .row .col-md-10 {
    width: 83.33333%;
  }
  .row .col-md-11 {
    width: 91.66667%;
  }
  .row .col-md-12 {
    width: 100%;
  }
}

.title {
  color: #DEE61D;
  font-size: 5vh;
  font-weight: bold;
  margin-bottom: 15px;
  line-height: 90%;
}

.title-big {
  font-size: 8vh;
  margin-bottom: 40px;
}

.subtitle {
  color: #DEE61D;
  font-size: 3.5vh;
  font-weight: bold;
  margin-bottom: 40px;
  line-height: 95%;
}

.subtitle-big {
  font-size: 5vh;
}

.text {
  color: #fcf5de;
  margin-top: 10px;
  margin-bottom: 10px;
}

.text-normal {
  font-size: 1rem;
}

.text-medium {
  font-size: 1.2rem;
}

.text-big {
  font-size: 1.3rem;
  margin-top: 15px;
  margin-bottom: 15px;
}

@media (min-width: 320px) {
  .navLandingDesktop {
    display: none;
  }
  .navLandingMobile {
    display: block;
    position: fixed;
    z-index: 100;
    background: #092A31;
    padding: 15px;
    width: 100%;
    top: 0;
    text-align: center;
    -webkit-box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.3);
            box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.3);
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
  .navLandingMobile .navLandingMobile__mainTitle {
    position: relative;
  }
  .navLandingMobile .navLandingMobile__mainTitle i {
    color: #FF5B36;
    font-size: 3vh;
    left: 5%;
    position: absolute;
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  .navLandingMobile .navLandingMobile__mainTitle .brandMainTitleMobile {
    text-decoration: none;
    font-size: 4vh;
    font-weight: bold;
  }
  .navLandingMobile .navLandingMobile__side {
    position: fixed;
    z-index: 300;
    width: 60%;
    top: 0;
    left: -100%;
    height: 100vh;
    background: #2E2E2E;
    -webkit-box-shadow: 0 5px 10px -10px rgba(0, 0, 0, 0.3);
            box-shadow: 0 5px 10px -10px rgba(0, 0, 0, 0.3);
    padding: 20px 0px;
    text-align: left;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
  .navLandingMobile .navLandingMobile__side a.brand {
    -webkit-box-shadow: 0 8px 10px -10px rgba(0, 0, 0, 0.5);
            box-shadow: 0 8px 10px -10px rgba(0, 0, 0, 0.5);
    padding-bottom: 10px;
    display: block;
    margin: 30px 0;
    color: #FF5B36;
    text-align: center;
  }
  .navLandingMobile a {
    text-decoration: none;
    font-weight: bold;
  }
  .navLandingMobile .pill {
    text-align: center;
  }
  .navLandingMobile li {
    list-style: none;
    display: block;
    margin: 30px 20px;
  }
  .headerLanding {
    min-height: 100vh;
    width: 100%;
    padding-top: 20%;
    background: #092A31;
    overflow: hidden;
  }
  .headerLanding .headerLanding__right {
    padding: 0 10%;
  }
  .headerLanding .headerLanding__right .title {
    font-size: 8vh;
  }
  .headerLanding .headerLanding__left-beerContainer {
    height: 70vh;
    width: 100%;
    position: relative;
    z-index: 1;
  }
  .headerLanding .headerLanding__left-beerContainer img {
    display: block;
    margin: auto;
    width: auto;
    height: 60vh;
  }
  .headerLanding .headerLanding__left-beerContainer .shadowOfCurrentImage {
    position: absolute;
    height: 40px;
    width: 100%;
    overflow: hidden;
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    z-index: -1;
  }
  .headerLanding .headerLanding__left-beerContainer .shadowOfCurrentImage img {
    -webkit-transform: translateY(-10px) rotate(180deg);
            transform: translateY(-10px) rotate(180deg);
    -webkit-mask-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.8)), color-stop(9%, rgba(0, 0, 0, 0)));
    -webkit-mask-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 9%);
            mask-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.8)), color-stop(9%, rgba(0, 0, 0, 0)));
            mask-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 9%);
  }
  .mainLanding {
    text-align: center;
    background: #DEE61D;
    min-height: 100vh;
    padding-top: 10%;
    padding-bottom: 10%;
  }
  .mainLanding .title {
    color: #34305E;
    font-size: 10vh;
    text-shadow: 3px 3px 0 rgba(52, 48, 94, 0.5);
  }
  .mainLanding #howItWorks .card {
    background: #fcf5de;
  }
  .mainLanding #howItWorks img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    display: block;
    margin: 0px auto 20px auto;
  }
  .footerLanding {
    background: #092A31;
    color: white;
    padding: 5%;
  }
  .footerLanding div.col-12 {
    padding: 30px;
  }
  .footerLanding .social {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footerLanding .social i {
    font-size: 4vh;
    margin-right: 30px;
  }
}

@media (min-width: 768px) {
  .navLandingMobile {
    display: none;
  }
  .navLandingDesktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
        align-content: center;
    position: fixed;
    z-index: 100;
    background: #092A31;
    padding: 20px;
    width: 100%;
    top: 0;
    font-weight: bold;
    -webkit-box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.3);
            box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.3);
  }
  .navLandingDesktop a {
    margin: 0 20px;
  }
  .navLandingDesktop li {
    list-style: none;
    display: inline-block;
  }
  .navLandingDesktop .ghostLi {
    display: inline-block;
    width: 60%;
  }
  .headerLanding {
    min-height: 100vh;
    width: 100%;
    padding-top: 10%;
    background: #092A31;
    overflow: hidden;
  }
  .headerLanding .headerLanding__right {
    padding: 0 10%;
  }
  .headerLanding .headerLanding__right .title {
    font-size: 13vh;
  }
  .headerLanding .headerLanding__left-beerContainer {
    height: 70vh;
    width: 100%;
    position: relative;
    z-index: 1;
  }
  .headerLanding .headerLanding__left-beerContainer img {
    display: block;
    margin: auto;
    width: auto;
    height: 60vh;
  }
  .headerLanding .headerLanding__left-beerContainer .shadowOfCurrentImage {
    position: absolute;
    height: 40px;
    width: 100%;
    overflow: hidden;
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    z-index: -1;
  }
  .headerLanding .headerLanding__left-beerContainer .shadowOfCurrentImage img {
    -webkit-transform: translateY(-10px) rotate(180deg);
            transform: translateY(-10px) rotate(180deg);
    -webkit-mask-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.8)), color-stop(12%, rgba(0, 0, 0, 0)));
    -webkit-mask-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 12%);
            mask-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.8)), color-stop(12%, rgba(0, 0, 0, 0)));
            mask-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 12%);
  }
  .mainLanding {
    text-align: center;
    background: #DEE61D;
    min-height: 100vh;
    padding-top: 10%;
    padding-bottom: 10%;
  }
  .mainLanding .title {
    color: #34305E;
    font-size: 10vh;
    text-shadow: 3px 3px 0 rgba(52, 48, 94, 0.5);
  }
  .mainLanding #howItWorks img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    display: block;
    margin: 20px auto;
  }
}

@media (min-width: 320px) {
  .signUp {
    min-height: 100vh;
  }
  .signUp .signUp__left {
    min-height: 100vh;
    padding-top: 20%;
    padding-bottom: 10%;
  }
  .signUp .signUp__left a.noStyle {
    color: #FF5B36;
    font-size: 5vh;
  }
  .signUp .signUp__left .title {
    color: #2E2E2E;
  }
  .signUp .signUp__left .subtitle {
    color: #ff9983;
  }
  .signUp .signUp__left form {
    display: block;
    margin: auto;
    width: 80%;
  }
  .signUp .signUp__right {
    background: #FF5B36;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    padding: 12% 10%;
  }
  .signUp .signUp__right .phrase {
    font-size: 5vh;
    font-weight: bold;
    text-shadow: 4px 4px 0 #2E2E2E;
  }
  .signUp .signUp__right .social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 20%;
  }
  .signUp .signUp__right .social i {
    font-size: 3vh;
    margin: 10px;
  }
}

@media (min-width: 768px) {
  .signUp {
    min-height: 100vh;
  }
  .signUp .signUp__left {
    min-height: 100vh;
    padding-top: 6%;
    padding-bottom: 10%;
  }
  .signUp .signUp__left a.noStyle {
    color: #FF5B36;
    font-size: 5vh;
  }
  .signUp .signUp__left .title {
    color: #2E2E2E;
  }
  .signUp .signUp__left form {
    display: block;
    margin: auto;
    width: 55%;
  }
  .signUp .signUp__right {
    background: #FF5B36;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    padding: 0% 10%;
  }
  .signUp .signUp__right .phrase {
    font-size: 10vh;
    font-weight: bold;
    text-shadow: 4px 4px 0 #2E2E2E;
  }
  .signUp .signUp__right .social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 30%;
  }
  .signUp .signUp__right .social i {
    font-size: 3vh;
    margin: 10px;
  }
}

@media (min-width: 320px) {
  .login__right {
    background: #092A31;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    padding: 12% 10%;
  }
  .login__right .phrase {
    font-size: 5vh;
    font-weight: bold;
    text-shadow: 4px 4px 0 #2E2E2E;
  }
  .login__right .social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 20%;
  }
  .login__right .social i {
    font-size: 3vh;
    margin: 10px;
  }
}

@media (min-width: 768px) {
  .login__right {
    color: #fcf5de;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    padding: 0% 10%;
  }
  .login__right .phrase {
    font-size: 10vh;
    font-weight: bold;
    text-shadow: 4px 4px 0 #2E2E2E;
  }
  .login__right .social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 30%;
    color: #FF5B36;
  }
  .login__right .social i {
    font-size: 3vh;
    margin: 10px;
  }
}

@media (min-width: 768px) {
  .dashboard {
    height: auto;
  }
  .sideContainer {
    width: 75%;
    float: right;
    background: #DEE61D;
  }
  .sideContainer .beersContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 80px;
  }
  .sideContainer .beersContainer .beer {
    background-color: white;
    margin: 10% 5%;
    width: 220px;
    height: 180px;
    text-align: center;
    position: relative;
    -webkit-box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.15);
            box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.15);
    border-radius: 5%;
  }
  .sideContainer .beersContainer .beer .beerPhoto {
    background-color: #ccc;
    -webkit-box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.1);
            box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.1);
    position: absolute;
    width: 70%;
    left: 15%;
    height: 200px;
    top: -150px;
    border-radius: 5%;
  }
  .sideContainer .beersContainer .beer .beerInfo {
    margin-top: 60px;
  }
  .sideInfo {
    width: 25%;
    background: #092A31;
    position: fixed;
    padding: 4% 2% 0 2%;
    height: 100vh;
    -webkit-box-shadow: 0 10px 10px 0px rgba(0, 0, 0, 0.5);
            box-shadow: 0 10px 10px 0px rgba(0, 0, 0, 0.5);
  }
  .sideInfo form {
    display: block;
    margin: auto;
    width: 100%;
    margin-bottom: 30px;
    background: #0d3c47;
    -webkit-box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.3);
            box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.3);
    padding: 20px;
    border-radius: 7px;
  }
  .sideInfo form label {
    color: white;
  }
  .sideInfo .userInfo {
    color: #FF5B36;
    width: 100%;
    text-align: center;
    background: white;
    border-radius: 200px;
    width: 10vh;
    height: 10vh;
    overflow: hidden;
    margin: 30px auto;
    text-align: center;
    -webkit-box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.3);
            box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.3);
  }
  .sideInfo .userInfo .userName {
    font-weight: bold;
    font-size: 8vh;
  }
  .sideInfo .addBeer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
  .sideInfo .addBeer .form-group {
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .sideInfo .addBeer .form-group label {
    display: block;
    color: #212529;
  }
  .sideInfo .addBeer .form-group ::-webkit-input-placeholder {
    color: #6c757d;
  }
  .sideInfo .addBeer .form-group :-ms-input-placeholder {
    color: #6c757d;
  }
  .sideInfo .addBeer .form-group ::-ms-input-placeholder {
    color: #6c757d;
  }
  .sideInfo .addBeer .form-group ::placeholder {
    color: #6c757d;
  }
  .sideInfo .addBeer .form-group input.form-control {
    margin-top: 10px;
    display: block;
    width: 100%;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
  .sideInfo .addBeer .form-group input.form-control:focus {
    -webkit-box-shadow: 0 0 0px 3px #bfdeff;
            box-shadow: 0 0 0px 3px #bfdeff;
    border: 1px solid #80bdff;
  }
}

/*
    GENERAL
*/
* {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.95rem;
}

html {
  height: 100%;
}

body {
  height: 100%;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.modal {
  display: none;
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  z-index: 200;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.red {
  background: red;
  color: white;
}

.blue {
  background: blue;
  color: white;
}

a {
  color: #FF5B36;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

a:hover {
  opacity: 0.7;
}

a.noStyle {
  color: #fcf5de;
  text-decoration: none;
}

a.noStyle:hover {
  opacity: 1;
}

body {
  background: #fcf5de;
}

span {
  color: #FF5B36;
}

@media (min-width: 320px) {
  .container {
    width: 100%;
    margin: 0 auto;
  }
}

@media (min-width: 768px) {
  .container {
    width: 85%;
    margin: 0 auto;
  }
}
/*# sourceMappingURL=main.css.map */